body {
  color: #222;
  background: #fafafa;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 12px;
}


form input {
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 0;
  font-size: 1.3rem;
}

.password-meter__bar {
  height: 1rem;
  background: #eee;
  margin-bottom: 1rem;
  position: relative;
}

.password-meter__bar__inner {
  width: 0;
  height: 10px;
  display: block;
  margin-top: 20px;
}